#Menu {
    height: 60px;
    background-color: darkblue;
}
#Menu ul {
    margin: 0px;
    padding: 0px;
}
#Menu li {
    list-style-type: none;
    float: left;
    display: block;
    width: 150px;
    height: 60px;
    text-align: center;
    line-height: 55px;
    font-family: "Lucida Grande";
    font-size: 18px;
}
#Menu li a {
    text-decoration: none;
    color: white;
}
#Menu li:Hover {
    background-color: mediumblue;
}